<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magazyn 4.0</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>
<body>
    <h1>Database</h1>
    <input type="number" name="Number of entries" oninput="changeSelected()", id="pSel">
    <select name="Sort by" oninput="changeSort()" id="pTyp">
        <option value="ID">ID</option>
        <option value="Name">Name</option>
        <option value="Weight">Weight</option>
        <option value="Size">Size</option>
    </select>
    <select name="Sort order" oninput="changeOrder()" id="pOrd">
        <option value="True">ascending</option>
        <option value="False">descending</option>
    </select>
    <button hx-get="/database/get_entries" hx-swap="innerHTML" hx-target="#tableDiv" hx-vals="js:{'order': sort_by, 'count': count, 'ascending': order}" id="requestButton">Search</button>
    <div style="padding-top: 5%;", id="tableDiv">
        <div hx-get="/database/get_entries" hx-trigger="load">
    </div>
</body>
<script>
    var order = "False"
    var sort_by = "ID";
    var count = 20;

    // var reqbutt = document.getElementById("requestButton");
    // reqbutt.setAttribute("hx-get", `/database/get_entries?order=${sort_by}&count=${count}&ascending=${order}`)

    const changeSelected = () => {
        var v = document.getElementById("pSel").value;
        count = parseInt(v);
        // updateURI();
    }
    
    const changeSort = () => {
        var v = document.getElementById("pTyp").value;
        sort_by = v;
        // updateURI();
    }
    
    const changeOrder = () => {
        var v = document.getElementById("pOrd").value;
        order = v;
        // updateURI();
    }

    // const updateURI = () => {
    //     reqbutt.setAttribute("hx-get", `/database/get_entries?order=${sort_by}&count=${count}&ascending=${order}`)
    //     htmx.process("requestButton");
    // }

</script>
</html>