<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magazyn 4.0</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>
<body>
    <header>
        <h1>Database</h1>
        <nav hx-get="/components/menu.html" hx-trigger="load"></nav>
    </header>
    <section>
        <form hx-get="/database/get_entries" hx-target="#tableDiv">
            <input type="number" name="count" oninput="changeSelected()", id="pSel" placeholder="20">
            <select name="order" oninput="changeSort()" id="pTyp">
                <option value="ID">ID</option>
                <option value="Name">Name</option>
                <option value="Weight">Weight</option>
                <option value="Size">Size</option>
            </select>
            <select name="ascending" oninput="changeOrder()" id="pOrd">
                <option value="1">ascending</option>
                <option value="0">descending</option>
            </select>
            <button type="submit">search</button>
        </form>
        <div style="padding-top: 1%;", id="tableDiv">
            <div hx-get="/database/get_entries" hx-trigger="load">
        </div>
    </section>
</body>
</html>