<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magazyn 4.0</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>
<body>
    <header>
        <h1>Menu</h1>
        <nav hx-get="/components/menu.html" hx-trigger="load"></nav>
    </header>
    <section>
        <h2>Statistics</h2>
        <p>Amount of packages in database: <b hx-get="/database/count" hx-trigger="load" hx-swap="innerHTML"></b></p>
        <p>Amount of active orders: <b hx-get="/orders/count" hx-trigger="load" hx-swap="innerHTML"></b></p>
    </section>
</body>
</html>