<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magazyn 4.0</title>
    <link rel="stylesheet" href="/style.css">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>
<body>
    <header>
        <h1>Current orders</h1>
        <nav hx-get="/components/menu.html" hx-trigger="load"></nav>
    </header>
    <section>
        <h2>Order ID: {id}</h2>
        <form hx-get="/order/{id}" hx-target="#tableDiv">
            <select name="order" oninput="changeSort()" id="pTyp">
                <option value="ID">ID</option>
                <option value="Name">Name</option>
                <option value="Amount">Amount</option>
            </select>
            <select name="ascending" oninput="changeOrder()" id="pOrd">
                <option value="1">ascending</option>
                <option value="0">descending</option>
            </select>
            <button type="submit">search</button>
        </form>
        <div style="padding-top: 1%;", id="tableDiv">
            <div hx-get="/order/{id}" hx-trigger="load"></div>
        </div>
        <div style="padding-top: 8%;"></div>
        <h2>Order route:</h2>
        <h3>Nie ma</h3>
        <img src="/data/kekw.png" alt="non existent">
    </section>
</body>
</html>